In [ ]:
import pandas as pd

# Load data from a CSV file
data = pd.read_csv("data.csv", parse_dates=["date"], date_parser=lambda x: pd.to_datetime(x, format="%d-%b"))

In [ ]:
data

In [ ]:
# Replace missing values with zeros
data.fillna(0, inplace=True)

In [ ]:
data['Net']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Define features (X) and target variable (y)
X = data.drop(columns=["Net"])

In [ ]:
X

In [ ]:
y = data["Net"]

In [ ]:
y

In [ ]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [99]:
X_train

,date,name,INCOME,EXPENDITURE,Room Hire,Day rate,Moderation,Other/IQA,Shadow/Obsv/Invig/Mod/IQA,Mileage/travel,B&B/Subs,Total,Margin
24,1900-07-05,EPA - M John,1660.00,730.86,0.0,600.0,0.0,0.0,0.0,130.86,0.00,730.86,56%
15,1900-01-25,EPA - A Spellar,1430.00,526.87,0.0,310.0,50.0,0.0,0.0,124.12,42.75,526.87,63%
17,1900-03-14,EPA - R Henderson,1475.00,841.68,0.0,450.0,50.0,0.0,0.0,232.68,109.00,841.68,43%
8,1900-11-10,EPA - A Thomson,1350.00,354.96,0.0,335.0,0.0,0.0,0.0,19.96,0.00,354.96,74%
16,1900-02-14,EPA - K Benson,1660.00,682.44,0.0,600.0,0.0,0.0,0.0,82.44,0.00,682.44,59%
12,1900-01-05,EPA - K Short,1350.00,350.00,0.0,300.0,50.0,0.0,0.0,0.00,0.00,350.00,74%
19,1900-05-11,EPA - Z Edwards-Clarke,1433.00,761.41,0.0,300.0,50.0,0.0,0.0,343.41,68.00,761.41,47%
9,1900-11-27,EPA - C Guy,1620.00,868.67,0.0,665.0,0.0,0.0,0.0,203.67,0.00,868.67,46%
32,1900-07-27,EPA - A Harris,1430.00,573.19,0.0,300.0,50.0,0.0,0.0,55.35,167.84,573.19,60%
0,1900-09-23,EPA 0 C Graham,1501.60,431.54,0.0,300.0,0.0,0.0,0.0,131.54,0.00,431.54,71%
25,1900-07-06,EPA - S Holland (Gray),1430.00,567.64,0.0,320.0,0.0,0.0,0.0,145.14,102.50,567.64,60%
5,1900-11-03,EPA - S Stevenson,1760.00,1251.70,0.0,490.0,0.0,0.0,0.0,502.38,259.32,1251.70,29%
11,1900-11-30,EPA - S Norman,1760.00,449.06,0.0,340.0,0.0,0.0,0.0,73.08,35.98,449.06,74%
1,1900-10-05,EPA - C Barker,1410.00,449.37,0.0,320.0,0.0,0.0,0.0,124.12,5.25,449.37,68%
37,1900-08-01,EPA - M Wright,139.30,672.25,0.0,400.0,50.0,0.0,0.0,152.25,70.00,672.25,-383%
21,1900-05-16,EPA - R Ellahee,1620.00,958.81,0.0,600.0,50.0,0.0,0.0,308.81,0.00,958.81,41%
2,1900-10-21,EPA - J Siddle,1438.80,471.51,0.0,300.0,0.0,0.0,0.0,79.76,91.75,471.51,67%
29,1900-07-27,EPA - J Frost,1350.00,369.42,0.0,300.0,0.0,25.0,0.0,44.42,0.00,369.42,73%
35,1900-08-17,EPA - E Proudlove,1660.00,1370.08,0.0,740.0,0.0,0.0,0.0,444.58,185.50,1370.08,17%
3,1900-10-25,EPA - H Shord,1350.00,300.00,0.0,300.0,0.0,0.0,0.0,0.00,0.00,300.00,78%
34,1900-07-19,EPA - S Bond,1660.00,1017.24,0.0,600.0,50.0,37.5,0.0,232.74,97.00,1017.24,39%
23,1900-05-31,EPA - J Terry,1439.99,741.23,0.0,450.0,0.0,0.0,0.0,209.23,82.00,741.23,49%
31,1900-10-03,EPA - L Jesson,1350.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
10,1900-11-25,KT Resit - J Padfield,177.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
22,1900-06-08,EPA - S Arrundale,1350.00,357.02,0.0,300.0,50.0,0.0,0.0,7.02,0.00,357.02,74%
18,1900-04-12,Resit - K Short,337.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
20,1900-05-25,Resit - A Greenwood,337.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
7,1900-11-13,EPA - A Smith,1620.00,1449.29,0.0,700.0,0.0,0.0,0.0,492.07,257.22,1449.29,11%
14,1900-01-26,EPA - S Harris,1350.00,458.38,0.0,310.0,0.0,0.0,0.0,105.63,42.75,458.38,66%
28,1900-07-27,EPA - A Sheppard,1438.80,333.06,0.0,300.0,0.0,0.0,0.0,33.06,0.00,333.06,77%

In [98]:
y_train

24     929.14
15     903.13
17     633.32
8      995.04
16     977.56
12    1000.00
19     671.59
9      751.33
32     856.81
0     1070.06
25     862.36
5      508.30
11    1310.94
1      960.63
37    -532.95
21     661.19
2      967.29
29     980.58
35     289.92
3     1050.00
34     642.76
23     698.76
31    1350.00
10     177.50
22     992.98
18     337.50
20     337.50
7      170.71
14     891.62
28    1105.74
Name: Net, dtype: float64

In [ ]:
# Initialize and train the model
model = LinearRegression()

In [102]:
model

,date,name,INCOME,EXPENDITURE,Room Hire,Day rate,Moderation,Other/IQA,Shadow/Obsv/Invig/Mod/IQA,Mileage/travel,B&B/Subs,Total,Margin
24,1900-07-05,EPA - M John,1660.00,730.86,0.0,600.0,0.0,0.0,0.0,130.86,0.00,730.86,56%
15,1900-01-25,EPA - A Spellar,1430.00,526.87,0.0,310.0,50.0,0.0,0.0,124.12,42.75,526.87,63%
17,1900-03-14,EPA - R Henderson,1475.00,841.68,0.0,450.0,50.0,0.0,0.0,232.68,109.00,841.68,43%
8,1900-11-10,EPA - A Thomson,1350.00,354.96,0.0,335.0,0.0,0.0,0.0,19.96,0.00,354.96,74%
16,1900-02-14,EPA - K Benson,1660.00,682.44,0.0,600.0,0.0,0.0,0.0,82.44,0.00,682.44,59%
12,1900-01-05,EPA - K Short,1350.00,350.00,0.0,300.0,50.0,0.0,0.0,0.00,0.00,350.00,74%
19,1900-05-11,EPA - Z Edwards-Clarke,1433.00,761.41,0.0,300.0,50.0,0.0,0.0,343.41,68.00,761.41,47%
9,1900-11-27,EPA - C Guy,1620.00,868.67,0.0,665.0,0.0,0.0,0.0,203.67,0.00,868.67,46%
32,1900-07-27,EPA - A Harris,1430.00,573.19,0.0,300.0,50.0,0.0,0.0,55.35,167.84,573.19,60%
0,1900-09-23,EPA 0 C Graham,1501.60,431.54,0.0,300.0,0.0,0.0,0.0,131.54,0.00,431.54,71%
25,1900-07-06,EPA - S Holland (Gray),1430.00,567.64,0.0,320.0,0.0,0.0,0.0,145.14,102.50,567.64,60%
5,1900-11-03,EPA - S Stevenson,1760.00,1251.70,0.0,490.0,0.0,0.0,0.0,502.38,259.32,1251.70,29%
11,1900-11-30,EPA - S Norman,1760.00,449.06,0.0,340.0,0.0,0.0,0.0,73.08,35.98,449.06,74%
1,1900-10-05,EPA - C Barker,1410.00,449.37,0.0,320.0,0.0,0.0,0.0,124.12,5.25,449.37,68%
37,1900-08-01,EPA - M Wright,139.30,672.25,0.0,400.0,50.0,0.0,0.0,152.25,70.00,672.25,-383%
21,1900-05-16,EPA - R Ellahee,1620.00,958.81,0.0,600.0,50.0,0.0,0.0,308.81,0.00,958.81,41%
2,1900-10-21,EPA - J Siddle,1438.80,471.51,0.0,300.0,0.0,0.0,0.0,79.76,91.75,471.51,67%
29,1900-07-27,EPA - J Frost,1350.00,369.42,0.0,300.0,0.0,25.0,0.0,44.42,0.00,369.42,73%
35,1900-08-17,EPA - E Proudlove,1660.00,1370.08,0.0,740.0,0.0,0.0,0.0,444.58,185.50,1370.08,17%
3,1900-10-25,EPA - H Shord,1350.00,300.00,0.0,300.0,0.0,0.0,0.0,0.00,0.00,300.00,78%
34,1900-07-19,EPA - S Bond,1660.00,1017.24,0.0,600.0,50.0,37.5,0.0,232.74,97.00,1017.24,39%
23,1900-05-31,EPA - J Terry,1439.99,741.23,0.0,450.0,0.0,0.0,0.0,209.23,82.00,741.23,49%
31,1900-10-03,EPA - L Jesson,1350.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
10,1900-11-25,KT Resit - J Padfield,177.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
22,1900-06-08,EPA - S Arrundale,1350.00,357.02,0.0,300.0,50.0,0.0,0.0,7.02,0.00,357.02,74%
18,1900-04-12,Resit - K Short,337.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
20,1900-05-25,Resit - A Greenwood,337.50,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,100%
7,1900-11-13,EPA - A Smith,1620.00,1449.29,0.0,700.0,0.0,0.0,0.0,492.07,257.22,1449.29,11%
14,1900-01-26,EPA - S Harris,1350.00,458.38,0.0,310.0,0.0,0.0,0.0,105.63,42.75,458.38,66%
28,1900-07-27,EPA - A Sheppard,1438.80,333.06,0.0,300.0,0.0,0.0,0.0,33.06,0.00,333.06,77%

In [100]:
model.fit(X_train['Net'], y_train)

KeyError: 'Net'